<div class="img-div">
    @*<img src="/Uploads/ce1600a9-cf76-4eed-bfce-0fb45c281fef.jpg" alt="certificate" class="certificate-img" />*@

    <img src="/Uploads/EditedCertificate.jpg" alt="certificate" class="certificate-img" />
</div>